.public-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
    position: relative;
    border: 1px solid gray;
    background-color: rgb(242, 242, 247);
    margin: 45px;
    padding-bottom: 10px;
    border-radius: 25px;
    min-width: 900px;
}

.object-menu{
    float:center ;
    min-width: 880px;
    height: 1059px;
}

.menu-img{
    min-width: 880px;
}

.background-menu{

}

/* .public-menu embed{
    display: flex;
    max-width: 650px;
    object-fit: contain;
} */
/*
@media only screen
    and (min-device-width : 425px)
    and (max-device-height : 926px)
    and (-webkit-device-pixel-ratio : 3){

        .public-links {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            z-index: 2;
            position: relative;
        }

     } */
