.labels-account-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0px;
}

.labels-account-info div{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    align-content: space-between;
    justify-content: flex-end;
}

.form-account-info{
    display: flex;
    flex-direction: column;
}

.form-account-info label{
    display: flex;
    width: 200px;
    justify-content: flex-end;
    padding-right: 65px;
}

.form-account-info input, textarea{
    border: 1px solid #d6d6d6;
    color: #494949;
    height: 2.6em;
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    min-width: 300px;
    padding-left: 10px;

}

.form-account-info button{
    display: flex;
}

.main-account-info-div{
    display: flex;
    flex-direction: column;
    margin-top: -313px;
    padding: 360px;
    align-items: center;
}

.menu-description {
    margin-left: 10px;
}

.menu-description span {
    color: rgb(142, 142, 147);
    max-width: 270px;
}

.menu-description input{
    margin: -106px;
    height: 30px;
}
