

.pdf{
    width: 279px;
    height: 338px;
    object-fit: cover;
}

.all-menus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fbfbfd;
    margin: 24px;
    padding: 40px;
}

.each-menu{
    background-color: white;
    /* border: 1px solid; */
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 25px;
}

.each-menu h1 {
    margin: 0px;
    padding-bottom: 10px;
}

.submit-form span {
    color: rgb(174, 174, 178);
    max-width: 320px;
    text-align: center;
}
