*{
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-div-links{
    background-color: rgb(242, 241, 246);
    height: '100vh';
    min-height: '100vh'
}

.links-and-iphone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.links {
    margin-top: 35px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: #fbfbfd;
    width: 350px;
}

.iphone-mockup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    position: relative;
    overflow: hidden;
}

.iphone-border {
    z-index: 2;
    object-fit: cover;
    height: 600px;

}

.iphone-mockup-background {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    height: 585px;
    width: 283px;
    border-radius: 40px;
    margin-top: 5px;
}

.iphone-mockup-links{
    margin-top: 40px;
    z-index: 3;
    position: absolute;
    height: 525px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.iphone-mockup-links a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    font-size:18px;
    border: 1px solid rgb(242, 241, 246);
    background-color: white;
    padding: 10px;
    width: 225px;
    justify-content: center;
    align-items: stretch;
    white-space: 5px;
    margin: 3px;
    cursor: pointer;
    color: rgb(53, 53, 53);
}

.mock-profile-pic{
    border: 1px solid #d6d6d6;
    object-fit: cover;
    border-radius: 50%;
    max-width: 80px;
    max-height:80px;
    min-width: 80px;
    min-height:80px;
}

.mock-name {
    font-weight: bold;
    max-width: 243px;
}

.create-link{
    display: flex;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    background: #0071e3;
    color: #fff;
    border: none;
    justify-content: space-evenly;
}

.submit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfd;
    padding: 30px;
    margin-top: 28px;
    white-space: 10px;
}

.submit-form input {
    border: 1px solid #d6d6d6;
    margin-bottom: 10px;
    color: #494949;
    height: 2.6em;
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    width: 300px;
    padding-left: 10px;
}

.instructions {
    color:rgb(124, 124, 124);
    width: 100px;
    margin-bottom: 0px;
}

.mock-bio{
    max-width: 243px;
    margin-top: 5px;
    font-size: 15px;
    backdrop-filter: blur(2px);
}

.live-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfd;
    padding: 10px;
    margin-top: 35px;
}

.open-new-tab a{
    color: #494949;
    font-weight: 400;
}

.title-link{
    color: #494949;
    font-weight: 600;
    font-size: 17px;
}

.link{
    color: black;
    text-decoration: none;
    font-weight: 800;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-tab{
    display: flex;
    text-decoration: none;
    color: rgb(92, 92, 92);
    align-items: center;
}

.new-tab:hover{
    text-decoration: underline;
    font-weight: 600;
}

.live-link img{
    width: 25px;
    padding-right: 5px;
}

body {
    margin: 0px;
}
